body {
    margin: 0;
    height: auto; width: 100%;

}
#header {
    text-align: center;
}
.footer {
text-align: center;
}
.landing-page  {
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.header-links {
    display: inline-block;
    float: right;
    margin-top: 15px;
    margin-right: 40px;
}
.img-rounded {
    margin-right: 50px;
}
#header img {
    margin-left: 70px;
}

ul {
    padding: 0px;
    margin-right: 100px;

}
ul li {
    height: 40px;
    width: 140px;
    text-align: center;
    line-height: 40px;
    list-style: none;
    font-size: 17px;
    font-style: inherit;
    opacity: .8;
    text-shadow: 1px 1px 1px #999999;
    -webkit-border-radius: 5px;
    margin-right: 20px;
}
.navbar-default .navbar-nav li a {
    color: #777;
    text-decoration: none;
    display: block;
}
.navbar-default .navbar-nav li a:hover {
    background-color: #e2e2e2;
    color: white;
    text-decoration: none;
    -webkit-border-radius: 5px;
}
.navbar {
    background-color: whitesmoke;
    margin-bottom: 0px;
}
#tekst {
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    padding-top:  300px;
    padding-left: 200px;
    padding-right: 200px;
}

a .navbar-brand {
    color: white;
}
#size {
    width: 100%;
    height: auto;
}#size1 {
     width: 100%;
     height: auto;
 }
.container {
    padding-left: 0px;
    padding-right: 0px;
}
.navbar-header {
    padding-left: 20px;
}
#logo {
    width: 150px;
}
.collapse.navbar-collapse.nav.navbar-nav.navbar-right{
    width: auto;

}
#button {
    margin-right: 30px;
}
#third {
    margin-bottom: 400px;
}
.banner {
    background-image:url(../images/workspace.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 800px;
}
h1, h2 {
    text-align: center;
}
#banner {
    padding-top: 200px;
}
.modal-title{
    color: white;
}
.panel-title {
    color: white;
}
.title1 {
    font-size: 60px;
    color: white;
}
.title2 {
    color: white;
}
.intro-content {
    font-size: 30px;
    color: white;
    margin-left: 20px;
}
